.Sidebar {
  width: 25%;
  height: 100%;
  color: white;
}

.Sidebar__projectName {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  height: 5%;
}

.Sidebar__title {
  margin: 0;
  width: 100%;
  background-color: #312f2f;
  font-weight: 200;
}

.Sidebar__files {
  height: 50%;
}

.Sidebar__recordings {
  height: 45%;
}
